
  .redColor{
    fill : green;
    color: blueviolet;
    background-color: brown;
}

.slds-text-color_destructive{
    color: blueviolet;
}

.datatable-full-size {
  width: 100% !important;
}

.ddd {
 
  overflow: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
 

}


