.validIndicator {
    color:green
}
.invalidIndicator {
    color: red;
}

.mainDiv{
    padding: 10px;
}

.passwordMessageContainer{
    padding: 10px;
    background-color:thistle;
    border-radius: 3px;
    border: 1px solid;
    border-color: black;
    margin-top: 10px;
}
/* correcticon */
/* wrong */

.validIndicator:before {
    content: "✅";
    position: relative; 
   
   
}

.invalidIndicator:before {
    content: "⛔️";
    position: relative; 
}

.imageTest{
    background-image: url(/resource/validimage) 

}

h1:before {
    content: "";
    display: block;
    background: url(/resource/wrong) no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}
